div(*ngIf="result$ | async")
  h5.usual-header.center Signal transduction proteins 
  .genes-container(*ngIf="(query$ | async) && (dataSource.connect() | async).length" class="flex-container")
    mat-paginator.paginator-txt-size([length]="count" [pageSize]="perPage" [pageIndex]="currentPage-1" [pageSizeOptions]="pageSizeOptions" (page)="pageApply($event)")
    mist-genes-list(
      [genes$]="result$"
      [result]="dataSource"
      [displayedColumns]="displayedColumns"
      [isLcrChecked]="isLcrChecked"
      [isCoiledCoilsChecked]="isCoiledCoilsChecked"
    )
mist-progress-spinner(
  [isSearchPerformed]="isSearchPerformed$ | async"
  [isFetching]="isFetching$ | async"
  [errorMessage]="errorMessage$ | async"
  )