div(*ngIf="genomesCookieIsSet || genesCookieIsSet; else cookieIsNotSetBlock")
  div.center
      button.shop-cart-button(mat-button (click)="buttonClicked('genomes')" *ngIf="genomesCookieIsSet" [ngStyle]="styles.genomes") Genomes
      button.shop-cart-button(mat-button (click)="buttonClicked('genes')" *ngIf="genesCookieIsSet" [ngStyle]="styles.genes") Genes

  shop-cart-genomes(*ngIf="isGenomesActive")
  shop-cart-genes(*ngIf="isGenesActive")

ng-template(#cookieIsNotSetBlock)
  h3 Your cart is empty


