cart-select-buttons((selectClickEvent)='onAddRemoveClickEvent($event)' [cart]="cart")
mat-table([dataSource]="result" class="genome-table")
  ng-container(matColumnDef="Select")
    mat-header-cell(*matHeaderCellDef class="select-header")
      mat-checkbox((change)="onAllCheckBoxChanged($event)" [indeterminate]="isIndeterminate" [checked]='checkedAll')
    mat-cell(*matCellDef="let genome" class="select-cell")
      mat-checkbox(checked='{{shopCartIdToIsChecked[genome.id]}}' (change)="checkBoxChanged($event, genome.id)")  
  ng-container(matColumnDef="Genome")
    mat-header-cell(*matHeaderCellDef class="genome-header table-txt-size") Genome
    mat-cell(*matCellDef="let genome" class="genome-cell")
      a(routerLink="/genomes/{{genome.version}}") {{genome.name}}
  ng-container(matColumnDef="Taxonomy ID")
    mat-header-cell(*matHeaderCellDef class="taxonomy-id-header table-txt-size") Taxonomy ID
    mat-cell(*matCellDef="let genome" class="taxonomy-id-cell" ) {{ genome.taxonomy_id }}
  ng-container(matColumnDef="Taxonomy")
    mat-header-cell(*matHeaderCellDef class="genome-taxonomy table-txt-size") Taxonomy
    mat-cell(*matCellDef="let genome" class="taxonomy-cell") {{genome.superkingdom}}; {{genome.phylum}}; {{genome.class}}; {{genome.order}}; {{genome.family}}; {{genome.genus}}
  ng-container(matColumnDef="Version")
    mat-header-cell(*matHeaderCellDef class="version-header table-txt-size") Version
    mat-cell(*matCellDef="let genome" class="version-cell" ) {{genome.version}}
  ng-container(matColumnDef="Assembly level")
    mat-header-cell(*matHeaderCellDef class="assembly-header table-txt-size") Assembly Level
    mat-cell(*matCellDef="let genome" class="assembly-cell") {{genome.assembly_level}}
  mat-header-row(*matHeaderRowDef="displayedColumns")
  mat-row(*matRowDef="let row; columns: displayedColumns;")