div(*ngIf="genomesCookieIsSet || genesCookieIsSet; else cookieIsNotSetBlock")
  div.center
    mat-chip-list
      mat-chip.chip((click)="buttonClicked('genomes')" *ngIf="genomesCookieIsSet" [ngStyle]="styles.genomes") Genomes
      mat-chip.chip((click)="buttonClicked('genes')" *ngIf="genesCookieIsSet" [ngStyle]="styles.genes") Genes

  shop-cart-genomes(*ngIf="isGenomesActive")
  shop-cart-genes(*ngIf="isGenesActive")

ng-template(#cookieIsNotSetBlock)
  h3 Your cart is empty


