.select-header, .select-cell {
    flex: 0 0 5%;
}

.gene-header, .gene-cell {
    flex: 0 0 11%;
}

.proteinId-header, .proteinId-cell {
    flex: 0 0 11%;
}

.domain-structure-header, .domain-structure-cell {
    flex: 0 0 37%;
}

.locus-header, .locus-cell {
    flex: 0 0 8%;
}

.description-header, .description-cell {
    flex: 0 0 15%;
}

.location-header, .location-cell {
    flex: 0 0 11%;
}