.select-header, .select-cell {
    flex: 0 0 10%;
}

.genome-header, .genome-cell {
    flex: 0 0 25%;
}

.genome-taxonomy, .taxonomy-cell {
    flex: 0 0 35%
}

.assembly-header, .assembly-cell {
    flex: 0 0 10%;
}
.superkingdom-header, .superkingdom-cell {
    flex: 0 0 15%;
}

