// Align the suffix icons to the end of the input instead of the
// default baseline. Some margin at the bottom provides a little
// aesthetical breathing room.
::ng-deep .mat-form-field-suffix {
  align-self: flex-end;
  margin-bottom: 3px;
  margin-right: 7px;
}

mat-form-field + mat-form-field {
  margin-left: 1em;
}
