div(*ngIf="query$ | async" class="flex-container")
  mat-paginator([length]="count" [pageSize]="perPage" [pageIndex]="currentPage-1" [pageSizeOptions]="pageSizeOptions" (page)="pageApply($event)")
  mist-genes-list(
    [genes$]="result$"
    [result]="dataSource"
    [displayedColumns]="displayedColumns"
  )