.select-header, .select-cell {
    flex: 0 0 3%;
}

.gene-header, .gene-cell {
    flex: 0 0 13%;
}

.proteinId-header, .proteinId-cell {
    flex: 0 0 12%;
}

.domain-structure-header, .domain-structure-cell {
    flex: 0 0 32%;
}

.locus-header, .locus-cell {
    flex: 0 0 11%;
}

.description-header, .description-cell {
    flex: 0 0 17%;
}

.location-header, .location-cell {
    flex: 0 0 12%;
}