.mat-cell, .mat-header-cell {
    margin: 0 5px;
}

.select-header, .select-cell {
    flex: 0 0 6%;
}

.gene-header, .gene-cell {
    flex: 0 0 12%;
}

.proteinId-header, .proteinId-cell {
    flex: 0 0 11%;
}

.domain-structure-header, .domain-structure-cell {
    flex: 0 0 35%;
}

.locus-header, .locus-cell {
    flex: 0 0 8%;
}

.description-header, .description-cell {
    flex: 0 0 15%;
}

.type-header, .type-cell,
.location-header, .location-cell {
    flex: 0 0 11%;
}