html, body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #495EB5;
}

header {
  background-color: #197477;

  .notice {
    padding: .5em;
    text-align: center;
    color: white;
    font-size: 1.25em;
  }

  .row {
    margin: 0;
  }
}

.mist-logo {
  text-align: center;
}

.mist-svg {
  width: 250px;
  height: 140px;
}

@media screen and (min-width: 550px) {
  header {
    height: 140px;
  }

  header .notice {
    text-align: right;
  }

  .mist-logo {
    text-align: left;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 341px;
}

footer {
  background-color:#889999;
  min-width: 341px;
  height: 180px;
}

@media screen and (min-width: 1145px) {
  .footer-style {
    margin-right: 5%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1144px) {
  .footer-style {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 920px) {
  footer
  {
    height: 350px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-style {
    margin-right: 33px;
    margin-left: 33px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 527px) {
  footer
  {
    height: 500px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-style {
    margin-right: 33px;
    margin-left: 33px;
    margin-bottom: 19px;
  }
}

.content {
  min-height: calc(100vh - 310px);
  padding-bottom: 30px;
}

.box {
  display: flex;
  justify-content: flex-end;
}

// Needed to specify min and max, otherwise some browsers shrink logo images
.footer-logos {
  max-width: 220px;
  max-height: 150px;
  min-width: 220px;
  min-height: 150px;
  filter: grayscale(100%) brightness(3);
}

.logo-netlify {
  max-width: 150px;
  max-height: 50px;
  min-width: 150px;
  min-height: 50px;
  filter: grayscale(100%) brightness(3);
}

.logo-zhulinlab {
  max-width: 150px;
  max-height: 50px;
  min-width: 150px;
  min-height: 50px;
}


