html, body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #495EB5;
}

mat-toolbar {
  background-color: #197477;
  height: 140px;
}

footer {
  background-color:#889999;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mist-logo {
  margin-top: 80px;
}
.mist-svg {
  width: 250px;
  height: 140px;
}

.content {
  min-height: calc(100vh - 310px);
  padding-bottom: 30px;
}

.box {
  display: flex;
  justify-content: flex-end;
}

.footer-logos {
  width: 220px;
  height: 150px;
  filter: grayscale(100%) brightness(3);
}

.footer-style {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-left: 8%;
}

.non-decor-white {
  margin-left: 20%;
  color: white;
  text-decoration: none;
  text-align: center;
}
