header
  mat-toolbar
    div.mist-logo
      a(routerLink="/")
        img.mist-svg(src="assets/images/mist_logo_white_green.svg")

.content
  mc-breadcrumbs
  div.box
    
  mist-main-menu


  .main.full-width-container
    router-outlet


footer
  img.footer-logos(src="assets/images/NIH-min.png")
  a.detail-uber.footer-text(href="http://u.osu.edu/zhulinlab/") {{ "Zhulin Lab" }}
  img.detail-uber.footer-logos(src="assets/images/OSU.png")
