header
  .row
    .five.columns.mist-logo
      a(routerLink="/")
        img.mist-svg(src="assets/images/mist_logo_white.svg")
    .seven.columns.notice
      p MiST3 is currently in alpha and under development.
        br
        a(href="http://u.osu.edu/zhulinlab/services/") More info
        br
        a(href="mailto:gumerov.1@osu.edu") Feedback
        br
        a(href="https://api.mistdb.caltech.edu/") API

.content
  mc-breadcrumbs

  mist-main-menu

  .main.full-width-container
    router-outlet

footer
  .container.footer-content
    img.footer-style.footer-logos(src="assets/images/NIH-min.png")
    a(href="http://u.osu.edu/zhulinlab/")
      img.footer-style.logo-zhulinlab(src="assets/images/zhulinLab.png")
    img.footer-style.footer-logos(src="assets/images/OSU.png")
    img.footer-style.logo-netlify(src="assets/images/netlify.png")
