header
  mat-toolbar
    div.mist-logo
      img(src="assets/images/mist_logo_white_green.svg" width="250" height="140")

.content
  mist-main-menu

  .main
    router-outlet


footer
  p Replace with footer
