html, body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #495EB5;
}

header {
  background-color: #197477;

  .notice {
    padding: .5em;
    text-align: center;
    color: white;
    font-size: 1.25em;
  }

  .row {
    margin: 0;
  }

  .server-works {
    text-align: center;
    color: rgb(207, 121, 121);
    font-size: 1.8em;
  }
}

.mist-logo {
  text-align: center;
}

.mist-svg {
  width: 250px;
  height: 140px;
}

@media screen and (min-width: 550px) {
  header {
    height: 140px;
  }

  header .notice {
    text-align: right;
  }

  .mist-logo {
    text-align: left;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 341px;
}

footer {
  background-color:#889999;
  min-width: 341px;
  height: 150px;
}

@media screen and (min-width: 1607px) {
  .footer-style {
    margin-right: 5%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1606px) {
  .footer-style {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 1363px) {
  .footer-style {
    margin-right: 3%;
    margin-left: 3%;
  }
}

@media screen and (max-width: 1049px) {
  footer
  {
    height: 250px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-style {
    margin-right: 23px;
    margin-left: 23px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 565px) {
  footer
  {
    height: 350px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-style {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 450px) {
  footer
  {
    height: 550px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-style {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.box {
  display: flex;
  justify-content: flex-end;
}

// Needed to specify min and max, otherwise some browsers shrink logo images
%nih {
  max-width: 185px;
  max-height: 135px;
  min-width: 185px;
  min-height: 135px;
}
.logo-nih {
  @extend %nih;
  filter: grayscale(95%) brightness(1.9);
}
.logo-nih-active {
  @extend %nih;
}

%netlify {
  transform: scale(1.3);
}
.logo-netlify {
  @extend %netlify;
  filter: grayscale(100%) opacity(0.5);
}
.logo-netlify-active {
  @extend %netlify;
}

%osu {
  max-width: 170px;
  max-height: 120px;
  min-width: 170px;
  min-height: 120px;
}
.logo-osu {
  @extend %osu;
  filter: grayscale(90%) brightness(1.1) opacity(0.7);
}
.logo-osu-active {
  @extend %osu;
}

%caltech {
  max-width: 100px;
  max-height: 25px;
  min-width: 100px;
  min-height: 25px;
}
.logo-caltech {
  @extend %caltech;
  filter: grayscale(95%) brightness(1.4);
}
.logo-caltech-active {
  @extend %caltech;
}

%sabanci {
  max-width: 160px;
  max-height: 70px;
  min-width: 160px;
  min-height: 70px;
}
.logo-sabanci {
  @extend %sabanci;
  filter: grayscale(100%) brightness(1) opacity(0.5);
}
.logo-sabanci-active {
  @extend %sabanci;
}

.breadcrumbs {
  margin-left: 22px;
}
a.citation {
  margin-top: 60px;
  color: white;
}

a.citation:hover {
  color: lightgrey;
}

a.social {
  padding: 5px;
  color: white;
}

a.social:hover {
  color: lightgrey;
}

.social-icons {
  margin: 5px;
}