header
  mat-toolbar
    div.mist-logo
      a(routerLink="/")
        img.mist-svg(src="assets/images/mist_logo_white_green.svg")
    .non-decor-white
      br
      br
      p Attention: MIST3.0 database is in alpha phase. Development is underway. 
      span Click {{ " " }}
        a(href="http://u.osu.edu/zhulinlab/services/") here
        span  {{ " " }} for additional information.

      
.content
  mc-breadcrumbs
  div.box
    
  mist-main-menu


  .main.full-width-container
    router-outlet


footer
  img.footer-logos(src="assets/images/NIH-min.png")
  a.detail-uber.footer-text(href="http://u.osu.edu/zhulinlab/") {{ "Zhulin Lab" }}
  img.detail-uber.footer-logos(src="assets/images/OSU.png")
