header
  mat-toolbar
    div.mist-logo
      img.mist-svg(src="assets/images/mist_logo_white_green.svg")

.content
  mc-breadcrumbs
  mist-main-menu


  .main.full-width-container
    router-outlet


footer
  p Replace with footer
