.flex-container(*ngIf="(query$ | async) && (dataSource.connect() | async).length")
  h5.usual-header.center Select Genome
  .scope-container
    mat-paginator.paginator-txt-size([length]="count" [pageSize]="perPage" [pageIndex]="currentPage-1" [pageSizeOptions]="pageSizeOptions" (page)="pageApply($event)")
    mist-genes-scope-list(
      [result]="dataSource"
      [displayedColumns]="displayedColumns"
    )
