.chart-container(
    [ngStyle]="{'width.px': width, 'height.px': height}"
  )
  .chart
  .legend([class.hide]="legendHidden")
    .item.input
      .box
      .label Inputs
    .item.output
      .box
      .label Outputs
