.container(class="full-width-container")
  .row
    .mist-box
      mat-form-field.select-genome
        mat-select([(value)]="selectedComponent" (change)="entityChanged($event)")
          mat-option(value="genomes") Genomes
          mat-option(value="genes-proteins") Genes/Proteins
          mat-option(value="taxonomy") Taxonomy
          mat-option(value="protein-features") Protein Features

      mist-search-input(
        [query]="query$ | async"
        [isFetching]="isFetching$ | async"
        [errorMessage]="errorMessage$ | async"
        (onQueryChange)="putQuery($event)"
      ) 
      .right-side([ngStyle]="smallMenuDisplay")
        mat-list.info
          mat-list-item
              a(routerLink="/member-genomes") Member Genomes
          mat-list-item
              a(routerLink="/help") Help
          mat-list-item
              a(routerLink="/api") API

      


