.detail-gene    
    .detail-uber
        .detail-box
            .summary
                h5.summary-text Protein/Gene Summary
            div.row(*ngIf="geneViewModel" class="gene_prot_info")
                div(class="six columns")
                    table(class="u-full-width")
                        tbody
                            tr(*ngFor="let property of geneViewModel.geneInfo")
                                td(style="font-weight: bold;") {{ property.name }}
                                td(*ngIf="property.genome_version; else notUrlBlock") 
                                    a(routerLink="/{{property.database}}/genomes/{{property.genome_version}}") {{ property.value }}
                                ng-template(#notUrlBlock) 
                                    td {{ property.value }}
                div(class="six columns")
                    table(class="u-full-width")
                        tbody
                            tr(*ngFor="let property of geneViewModel.proteinInfo")
                                td(style="font-weight: bold;") {{ property.name }}
                                td(*ngIf="property.name === 'Protein Accession'; else notUrlBlock")
                                    a(href="https://www.ncbi.nlm.nih.gov/protein/{{property.value}}", target="_blank") {{ property.value }}
                                ng-template(#notUrlBlock)
                                    td {{ property.value }}
        .pull-right.add-to-cart-button
            cart-select-buttons((selectClickEvent)='onAddRemoveClickEvent($event)' [cart]="cart")