.row(style="margin-top: 2em;")
  .six.columns
    mist-genome-view(
      [entity$]="genome$"
      [genomeViewModel]="genomeViewModel"
    )

  .six.columns
    mist-st-profile(
      [genomeVersion]="assemblyVersion"
    )

.row
  .twelve-columns
    h3 Genomic distribution of signal transduction proteins

.row
  .twelve.columns.distribution-table
    h4 Major modes
    mist-major-mode-table(
      [stpMatrix]="stpMatrix$ | async"
      [stpMatrixLimit]="stpMatrixLimit"
    )

.row
  .twelve.columns.distribution-table
    h4 Chemotaxis
    mist-chemotaxis-table(
      [stpMatrix]="stpMatrix$ | async"
      [stpMatrixLimit]="stpMatrixLimit"
    )
