div(*ngIf="genome")
    mat-card
        div Genome summary
        div {{ genome.name }}
        div(*ngFor="let taxon of genomeTaxonomy") {{ taxon }}
    mat-card
        div 
            a(href="{{genome.ftp_path}}") {{genome.genbank_version}}
        div {{genome.assembly_level}}
        div {{genome.submitter}}
        div {{genome.bioproject}}
        div {{genome.biosample}}
        div {{genome.release_date | date: 'longDate'}}
        div {{genome.wgs_master}}
        div {{genome.refseq_category}}