.u-full-width {
    max-width: 100%;
    border-collapse: collapse;
}

.u-full-width tr:nth-child(even) {
    background-color: #f2f2f2;
}

.detail {
    padding: 10px;
    padding-top: 0;
}

.detail-genome {
    max-width: 30%;
    min-width: 300px;
}