.u-full-width tr:nth-child(even) {
    background-color: #f2f2f2fa;
}

.detail {
    padding: 10px;
    padding-top: 0;
}

.scope-button {
    margin-left: 3px;
}

.mist-button-biosample  {
    margin-top: 0.5em;
    color: white !important;
    background-color: #DAD2BC;
    border-radius: 0.5em;
    /deep/ .mat-button-ripple {
        border-radius: 0.5em;
    }
}

.mist-button-biosample :hover, .mist-button-biosample :active {
    color: white !important;
    background-color: #DAD2BC;
    border-radius: 0.5em;
    /deep/ .mat-button-ripple {
        border-radius: 0.5em;
    }
}
