.detail-uber
    .detail-box
        .summary
            h5.summary-text Genome Summary
        .detail(*ngIf="genomeViewModel")
                table(class="u-full-width")
                    tbody
                        tr
                            td(style="font-weight: bold; width: 30%;") Taxonomy
                            td
                                span(*ngFor="let taxon of genomeViewModel.taxonomy")
                                    span(*ngIf="taxon.level != 'genus'; else genusBlock" ) {{ taxon.value }},{{" "}}
                                    ng-template(#genusBlock) {{ taxon.value }}
                        tr(*ngFor="let property of genomeViewModel.mainInfo")
                            td(*ngIf="property.name !== 'Biosample'; else biosampleBlock") {{ property.name }}
                            ng-template(#biosampleBlock)
                                td#biosample((click)="toggleBioSampleDetails()")
                                    a(style="color: rgb(179, 114, 159);") {{ property.name }}
                                        mat-icon(aria-hidden="true" style="vertical-align: middle") {{ arrow }}
                            td(*ngIf="property.ftp_path; else notFtpBlock")
                                a(href="{{property.ftp_path}}", target="_blank") {{ property.value }}
                            ng-template(#notFtpBlock)
                                td {{ property.value }}
                        ng-template([ngIf]="showBioSampleDetails")
                            tr(*ngFor="let property of genomeViewModel.biosampleDetailsFields")
                                td(style="font-weight: bold; padding-left: 5%;") {{ property.name }}
                                td {{ property.value }}
    .pull-right.add-to-cart-button
        cart-select-buttons((selectClickEvent)='onAddRemoveClickEvent($event)' [cart]="cart")
        button.mist-button.scope-button(mat-raised-button (click)="putScope(genomeViewModel.genome)") Set To Scope

