cart-select-buttons((selectClickEvent)='onSelectClickEvent($event)')
mat-table([dataSource]="genomes" class="genome-table")
  ng-container(matColumnDef="Select")
    mat-header-cell(*matHeaderCellDef class="select-header") Select
    mat-cell(*matCellDef="let genome" class="select-cell")
      mat-checkbox(checked='{{checked}}') 
  ng-container(matColumnDef="Genome")
    mat-header-cell(*matHeaderCellDef class="genome-header") Genome
    mat-cell(*matCellDef="let genome" class="genome-cell")
      a(routerLink="/genomes/{{genome.version}}") {{genome.name}}
  ng-container(matColumnDef="Superkingdom")
    mat-header-cell(*matHeaderCellDef class="superkingdom-header") Superkingdom
    mat-cell(*matCellDef="let genome" class="superkingdom-cell") {{genome.superkingdom}}
  ng-container(matColumnDef="Taxonomy")
    mat-header-cell(*matHeaderCellDef) Taxonomy
    mat-cell(*matCellDef="let genome")
      mat-select([value]="selected" class="taxonomy" (change)="taxonomyChanged($event)")
        mat-option(value="defaultValue" disabled) Select Level
        mat-option(value="{{genome.superkingdom}}") {{genome.superkingdom}}
        mat-option(value="{{genome.phylum}}") {{genome.phylum}}
        mat-option(value="{{genome.class}}") {{genome.class}}
        mat-option(value="{{genome.order}}") {{genome.order}}
        mat-option(value="{{genome.family}}") {{genome.family}}
        mat-option(value="{{genome.genus}}") {{genome.genus}}
  ng-container(matColumnDef="Genbank Version")
    mat-header-cell(*matHeaderCellDef class="genbank-version-header") Genbank Version
    mat-cell(*matCellDef="let genome" class="genbank-version-cell" ) {{genome.genbank_version}}
  ng-container(matColumnDef="Assembly level")
    mat-header-cell(*matHeaderCellDef class="assembly-header") Assembly Level
    mat-cell(*matCellDef="let genome" class="assembly-cell") {{genome.assembly_level}}
  mat-header-row(*matHeaderRowDef="displayedColumns")
  mat-row(*matRowDef="let row; columns: displayedColumns;")