h3 Genomes

form
  mist-search-input(
    [query]="query$ | async"
    [isFetching]="isFetching$ | async"
    [errorMessage]="errorMessage$ | async"
    (onQueryChange)="search($event)"
  )

//mist-genomes-list([genomes]="genomes$ | async")
mist-genomes-list([genomes]="dataSource" [displayedColumns]="displayedColumns" (pageEvent)="pageApply($event)" 
[count]="count" [perPage]="perPage" [currentPage]="currentPage")
