mat-select.taxonomy {
    max-width: 60%;
}

.select-header, .select-cell {
    flex: 0 0 5%;
}

.genome-header, .genome-cell {
    flex: 0 0 30%;
}

.superkingdom-header, .superkingdom-cell {
    flex: 0 0 13%;
}

.taxonomy-id-header, .taxonomy-id-cell {
    flex: 0 0 11%;
}

.assembly-header, .assembly-cell {
    flex: 0 0 6%;
}

