//ul
  li(*ngFor="let genome of genomes") {{ genome.name }}

<div *ngIf="displayedColumns">
  <mat-table [dataSource]="genomes">
    <ng-container matColumnDef="Genome">
      <mat-header-cell *matHeaderCellDef>Genome </mat-header-cell>
      <mat-cell *matCellDef="let genome"><a routerLink="/genomes/{{genome.version}}">{{genome.name}} </a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="Superkingdom">
      <mat-header-cell *matHeaderCellDef>Superkingdom </mat-header-cell>
      <mat-cell *matCellDef="let genome"> {{genome.superkingdom}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Phylum">
      <mat-header-cell *matHeaderCellDef> Phylum </mat-header-cell>
      <mat-cell *matCellDef="let genome"> {{genome.phylum}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Assembly level">
      <mat-header-cell *matHeaderCellDef> Assembly level </mat-header-cell>
      <mat-cell *matCellDef="let genome"> {{genome.assembly_level}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>