cart-select-buttons((selectClickEvent)='onAddRemoveClickEvent($event)' [cart]="cart")
mat-table([dataSource]="result" class="genome-table")
  ng-container(matColumnDef="Select")
    mat-header-cell(*matHeaderCellDef class="select-header") 
      mat-checkbox((change)="onAllCheckBoxChanged($event)" [indeterminate]="isIndeterminate" [checked]='checkedAll')
    mat-cell(*matCellDef="let genome" class="select-cell")
      mat-checkbox(disabled='{{idToIsDisabled[genome.id]}}' checked='{{idToIsChecked[genome.id]}}' (change)="checkBoxChanged($event, genome.id)") 
  ng-container(matColumnDef="Genome")
    mat-header-cell(*matHeaderCellDef class="genome-header table-txt-size") Genome
    mat-cell(*matCellDef="let genome" class="genome-cell")
      a(routerLink="/genomes/{{genome.version}}") {{genome.name}}
  ng-container(matColumnDef="Superkingdom")
    mat-header-cell(*matHeaderCellDef class="superkingdom-header table-txt-size") Superkingdom
    mat-cell(*matCellDef="let genome" class="superkingdom-cell") {{genome.superkingdom}}
  ng-container(matColumnDef="Taxonomy Id")
    mat-header-cell(*matHeaderCellDef class="taxonomy-id-header table-txt-size") Taxonomy Id
    mat-cell(*matCellDef="let genome" class="taxonomy-id-cell" ) {{ genome.taxonomy_id }}
  ng-container(matColumnDef="Taxonomy")
    mat-header-cell(*matHeaderCellDef class="table-txt-size") Taxonomy
    mat-cell(*matCellDef="let genome")
      mat-select([value]="selected" class="taxonomy table-txt-size" (change)="taxonomyChanged($event)")
        mat-option(value="defaultValue" disabled) Select Level
        mat-option(value="{{genome.superkingdom}}") {{genome.superkingdom}}
        mat-option(value="{{genome.phylum}}") {{genome.phylum}}
        mat-option(value="{{genome.class}}") {{genome.class}}
        mat-option(value="{{genome.order}}") {{genome.order}}
        mat-option(value="{{genome.family}}") {{genome.family}}
        mat-option(value="{{genome.genus}}") {{genome.genus}}
  ng-container(matColumnDef="Version")
    mat-header-cell(*matHeaderCellDef class="version-header table-txt-size") Version
    mat-cell(*matCellDef="let genome" class="version-cell" ) {{genome.version}}
  ng-container(matColumnDef="Assembly level")
    mat-header-cell(*matHeaderCellDef class="assembly-header table-txt-size") Assembly Level
    mat-cell(*matCellDef="let genome" class="assembly-cell") {{genome.assembly_level}}
  mat-header-row(*matHeaderRowDef="displayedColumns")
  mat-row(*matRowDef="let row; columns: displayedColumns;")