h3 Genomes

form
  mist-search-input(
    [query]="query$ | async"
    [isFetching]="isFetching$ | async"
    [errorMessage]="errorMessage$ | async"
    (onQueryChange)="search($event)"
  )

mist-genomes-list([genomes]="genomes$ | async")
