.genomes-container.flex-container(*ngIf="(query$ | async) && (dataSource.connect() | async).length")
    mat-paginator.paginator-txt-size([length]="count" [pageSize]="perPage" [pageIndex]="currentPage-1" [pageSizeOptions]="pageSizeOptions" (page)="pageApply($event)")
    div(class="row")
      div(*ngIf="displayedColumns" [className]="filterClass" [ngStyle]="filterStyle")
        form( (ngSubmit)="filter()" #filterForm="ngForm")
          .form-group
            mat-form-field
              input(matInput placeholder="Superkingdom" class="form-control" name="superkingdom" [(ngModel)]="genomesFilter.superkingdom")
            mat-form-field
              input(matInput placeholder="Phylum" class="form-control" name="phylum" [(ngModel)]="genomesFilter.phylum")
            mat-form-field
              input(matInput placeholder="Class" class="form-control" name="clazz" [(ngModel)]="genomesFilter.clazz")
            mat-form-field
              input(matInput placeholder="Order" class="form-control" name="order" [(ngModel)]="genomesFilter.order")
            mat-form-field
              input(matInput placeholder="Family" class="form-control" name="family" [(ngModel)]="genomesFilter.family")
            mat-form-field
              input(matInput placeholder="Genus" class="form-control" name="genus" [(ngModel)]="genomesFilter.genus")
            mat-form-field 
              mat-select( placeholder="Assembly Level" name="assembly_level" [(ngModel)]="genomesFilter.assembly_level")
                mat-option(*ngFor="let option of asemblyFilterOptions" [value]="option.value") {{option.viewValue}}
            .pull-right
              button(mat-button type="submit" class="mist-button-standard" [disabled]="!filterForm.form.valid") Filter
              button(mat-button type="submit" class="mist-button-standard" [disabled]="!filterForm.form.valid" (click)="reset()") Reset
      .ten.columns
        mist-genomes-list(
          [selected]="selected"
          (taxonomyEvent)="filterTaxonomy($event)"
          [result]="dataSource"
          [displayedColumns]="displayedColumns"
        )