.toggle-elements
    mat-slide-toggle.lcr((change)="lcrChanged($event)" [checked]="lcrChecked") Low complexity regions 
    mat-slide-toggle((change)="coiledCoilsChanged($event)" [checked]="coiledCoilesChecked") Coiled coils