.row
  .eleven.columns
    .bottom-margin
      h3 Genomes
      p On the Genomes portal you can explore signal transduction profiles of bacterial and archaeal genomes deposited to the NCBI RefSeq database. 
      p To search for an organism just start typing its name, genome identifier or taxonomy information. To search for a gene/protein start typing its RefSeq identifier, locus tag or MiST stable identifier.  
      p The MiST Genomes database can also be accessed via the &nbsp;
       a(href="https://mib-jouline-db.asc.ohio-state.edu/", target="_blank") API
