.row
  .six.columns(class="left-content")
    .bottom-margin
      h3 Genomes
      p This is the largest part of the database. We have uploaded and processed many more bacterial and archaeal genomes and prepared their signal transdcution profiles. Go ahead and explore them.
      ul(style="list-style-type: none")
        li
          strong 130,000+
          |  genomes
        li
          strong 14 million
          |  replicons / contigs
        li
          strong 540 million
          |  genes
        li
          strong 115 million
          |  unique protein sequences
      button.mist-button(mat-button routerLink="/mist/")  Explore Genomes

  .six.columns(class="right-content")
    h3 Metagenomes
    p Metagenomes represent a rich source of unique and unxeplored signal transduction information. We have integrated metagenomic data in MiST to lay the foundation for the research in metagenomic signal transduction.   
    ul(style="list-style-type: none")
      li
        strong 10,000+
        |  MAGs
      li
        strong 1.5 million
        |  replicons / contigs
      li
        strong 17.5 million
        |  genes
      li
        strong 13 million
        |  unique protein sequences
    button.mist-button(mat-button routerLink="/mist-metagenomes/")  Explore Metagenomes

.row
  .six.columns(class="left-content")
    h5 Citation
    p Please cite the following work until the paper describing the new release of the database is published: Gumerov VM, Ortega DR, Adebali O, Ulrich LE, and Zhulin IB (2020) MiST 3.0: an updated microbial signal transduction database with an emphasis on chemosensory systems. 
      a(href="https://doi.org/10.1093/nar/gkz988", target="_blank") 
        span(style="font-style:italic")  Nucleic Acids Research,
          span(style="font-style:normal") 48: D459–D464.
    a(routerLink="/mist/help" [queryParams]="{'code-of-conduct': 'true'}") MiST Code Of Conduct
