.container(class="nofull-width-container")
  .row
    hr

  .row
    mat-grid-list(cols="3" rowHeight="3:4")
      mat-grid-tile 
        h2 Introduction
      mat-grid-tile 
        h2 Statistics
      mat-grid-tile
        h2 Citation
