hr

.row
  .four.columns
    h4 Introduction
    p The MiST database was created in 2010 to predict and document signal transduction in microbes and provide a convenient portal for scientists to explore this knowledge.
    p We have completely rewritten the MiST database from the ground up. The backend computational pipeline and database is virtually complete and accessible via a&nbsp;
      a(href="https://api.mistdb.caltech.edu/") REST API
      | , which both powers this website and provides programmatic access to the underlying data. Please be patient as we continue to mature and develop the frontend website.

  .four.columns
    h4 Statistics
    ul(style="list-style-type: none")
      li
        strong 125,000+
        |  genomes
      li
        strong 13 million
        |  replicons / contigs
      li
        strong 516 million
        |  genes
      li
        strong 100 million
        |  unique protein sequences
    p Our computational pipeline has derived the full domain architectures for the proteomes of more than 20,000 genomes with the remainder currently processing. The database is streamlined to easily and regularly assimilate new genomes and predict their signal transduction properties in a distributed fashion.

  .four.columns
    h4 Citation
    p Manuscript is in preparation. Until MiST3 is published, please cite the MiST2 database article:
    p: a(href="https://www.ncbi.nlm.nih.gov/pubmed/19900966") Ulrich, L.E. and Zhulin, I.B. Nucleic Acids Res. (2010)
