.container
  .row
    .ten.columns
      div.mist-box
        mat-form-field.select-genome
          mat-select([(value)]="selected" placeholder="Search" (change)="entityChanged($event)")
            mat-option(value="Genomes") Genomes
            mat-option(value="Genes/Proteins") Genes/Proteins

        ng-template(ad-host)

    .two.columns
      a Member Genomes
      a Help
      a API

  .row
    hr

  .row
    .four.columns
      h2 Introduction

    .four.columns
      h2 Statistics

    .four.columns
      h2 Citation
