.row
  .six.columns(class="left-content")
    .bottom-margin
      h3 Genomes
      p This is the largest part of the database. We have processed and stored many more bacterial and archaeal genomes and prepared their signal transdcution profiles. Go ahead and explore them.
      ul(style="list-style-type: none")
        li
          strong 130,000+
          |  genomes
        li
          strong 14 million
          |  replicons / contigs
        li
          strong 540 million
          |  genes
        li
          strong 115 million
          |  unique protein sequences
      button.mist-button(mat-button routerLink="/mist/")  Explore Genomes

  .six.columns(class="right-content")
    h3 Metagenomes
    p Metagenomes represent a rich source of unique and unexplored signal transduction information. We have integrated metagenomic data in MiST to lay the foundation for research in metagenomic signal transduction.   
    ul(style="list-style-type: none")
      li
        strong 10,000+
        |  MAGs
      li
        strong 1.5 million
        |  replicons / contigs
      li
        strong 17.5 million
        |  genes
      li
        strong 13 million
        |  unique protein sequences
    button.mist-button(mat-button routerLink="/mist-metagenomes/")  Explore Metagenomes

.row
  .six.columns(class="left-content")
    h5 Citation
    p Gumerov V.M., Ulrich L.E., Zhulin I.B. (2024) MiST 4.0: a new release of the microbial signal transduction database, now with a metagenomic component.
      a(href="https://doi.org/10.1093/nar/gkad847", target="_blank")
        span(style="font-style:italic") &nbsp;Nucleic Acids Research,
          span(style="font-style:normal") &nbsp;D1: D647–D653
    a(routerLink="/mist/help" [queryParams]="{'code-of-conduct': 'true'}") MiST Code Of Conduct
