.container
  .row
    .eight.columns
      p Search goes here


    .four.columns
      a Member Genomes
      a Help
      a API

  .row
    hr

  .row
    .four.columns
      h2 Introduction

    .four.columns
      h2 Statistics

    .four.columns
      h2 Citation
