.row
  .eleven.columns
    .bottom-margin
      h3 Metagenomes
      p On the Metagenomes portal you can explore signal transduction profiles of bacterial and archaeal metagenomes deposited to NCBI database. The metagenomes are not part of the RefSeq dtabase. 
      p To search for an organism just start typing its name, genome identifier or taxonomy information. To search for a gene/protein start typing its identifier, locus tag or MiST stable identifier. 
      p The database can also be accessed via the API. The same API points as in the Genomes database are used. All you need to do is replace the base URL https://mib-jouline-db.asc.ohio-state.edu/ with the URL https://metagenomes.asc.ohio-state.edu 

