mat-grid-tile {
    background: #3dbfc1;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.nofull-width-container { 
    max-width: 960px;
    clear: both;
    margin: 0 auto;
}

.home-info {
    list-style-type: none;
    font-size: 18px;
    margin: 5%;
}