mat-grid-tile {
    background: #3dbfc1;
    display: flex;
    justify-content: center;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.nofull-width-container { 
    max-width: 960px;
    clear: both;
    margin: 0 auto;
}
.info {
    display: flex;
    justify-content: center; 
}