.row
  .twelve.columns(class="left-content")
    .bottom-margin
      h3 Metagenomes
      p On the Metagenomes portal you can explore complete signal transduction profiles of bacterial and archaeal metagenomes deposited to NCBI database. These metagenomes are not part of the RefSeq dtabase. To search for an organism just start typing its name, genome identifier or taxonomy information. To search for a gene/protein start typing its identifier, locus tag or MiST stable identifier.
