button(mat-raised-button class="cart-related" (click)="buttonClicked('selectAll')") Select all
button(mat-raised-button class="cart-related" (click)="buttonClicked('unselectAll')") Unselect all
button(mat-raised-button class="cart-related" (click)="buttonClicked('addToCart')") Add to Cart