button(mat-raised-button class="cart-related" (click)="buttonClicked('addToCart')" *ngIf="cart.add") Add to Cart
button(mat-raised-button class="cart-related" (click)="buttonClicked('removeFromCart')" *ngIf="cart.remove") Remove from Cart