button(mat-raised-button class="cart-related-add mist-button" (click)="buttonClicked('addToCart')" *ngIf="cart.add") Add to Cart
button(mat-raised-button class="cart-related-remove mist-button" (click)="buttonClicked('removeFromCart')" *ngIf="cart.remove") Remove from Cart
button(mat-raised-button class="cart-related-download mist-button" (click)="buttonClicked('downloadFromCart')" *ngIf="cart.download") Download